---
layout: page
title: about
permalink: /about/
---

<hr>

<div class="meetsarah">
  <img src="{{ site.baseurl }}static/images/meetsarah.jpg" alt="beach">
</div>

<div class="abouttext">
 <p>
   Hi I’m Sarah! Solo traveling is a new endevor for me, but something that I quickly became extremely passionate about. Traveling was not something I was always interested in, for as long as I can remember I always wanted to move to Los Angeles and work in the fashion industry. When I moved out to LA I quickly got an amazing job that anyone would kill to have. When working in the fashion industry i feel like you need to live and breathe it deep in your soul. For some reason working in the industry I dreampt about for so many years made me fall out of love with it. I slowly became less materialistic and didn’t put as much effort into how I looked anymore. Something about it just didnt feel right, I knew that where I was at in my career was never going to get any better, and I didn’t want it anymore and wasnt happy. I wanted a break from life and especially Los Angeles, So i quit my job, packed up my stuff and went to Europe alone for 3 months. The trip really creeped up on me and I didn’t have any time to second guess myself or get nervous. The longest amount of time I have traveled alone before was maybe 4 days! Well that 3 month trip turned into a 4 and half month trip and then a U.S roadtrip. After that I was hooked, I had the best time of my life! I knew I had to make this travel lifestyle into my career.
 </p>
 <p>
   everyone always asks me “dont you get scared or lonely being by yourself?” and the answer is simply no. When I travel solo I’m never really “alone”. I am constatly meeting new people in my hostel, on a walking tour, or at restuarants. I now have friends that live all over the world! So many people tell me that they think I’m incredably brave for traveling the world by myself, but I dont really see it that way. If I want to go somewhere cool and my friends can’t and I just suppoesed to not go? If i waited for a friends to do anything and everything with me I would probably never leave me house. Personally, I have always embraced change and had the confidence to put myself out there and talk to new people. If you don’t then Solo traveling should absoluetly be something for you to try. You are completely forced out of your comfort zone! The best part? No one knows you, you get a completely fresh start and get to be whoever you want to be and put your best foot forward.
 </p>
</div>

<div class="meetsarah">
  <img src="{{ site.baseurl }}static/images/travelbucketlist.jpg" alt="grand canyon">
</div>

<div class="flex-container2">
 <ul>
   <li>See the 7 wonders of the world</li>
   <li>Go to Antartica</li>
   <li>Learn another Language</li>
   <li>See the North Lights</li>
   <li>Explore the great barrier reef </li>
 </ul>

 <ul>
   <li> See the 7 nature wonders of the world </li>
   <li> Live on another Conitinent </li>
   <li>Go on a safari in Africa </li>
   <li>Drive up the East Coast of Australia</li>
   <li>See gorilla’s in their Natural Habitat</li>
 </ul>
</div>
