---
layout: home
title: home
---

<hr>

<div class="carosel">
  <img src="{{ site.baseurl }}static/images/halstattcover.jpg" alt="hallstatt">
</div>

<div class="aboutme">
  <img src="{{ site.baseurl }}static/images/france-1-3.jpg" alt="france" class="france">
  <img src="{{ site.baseurl }}static/images/grand canyon 3-1.jpg" alt="swiss" class="swiss">
  <img src="{{ site.baseurl }}static/images/switzerland-1-5.jpg" alt="grand canyon" class="grandcanyon">
  <img src="{{ site.baseurl }}static/images/image1.jpeg" alt="beach" class="beach">
</div>

<div class="textbox">
  <h3>Meet Sarah!</h3>
  <p>
    Hi I’m Sarah! Solo traveling is a new endevor for me, but something that I quickly became extremely passionate about. Traveling was not something I was always interested in, for as long as I can remember I always wanted to move to Los Angeles and work in the fashion industry. When I moved out to LA I quickly got an amazing job that anyone would kill to have....
  </p>
  <a href="#">Read More</a>
</div>

<!-- end of aboutme -->

<h2>Where is Sarah Now?</h2>

<div class="flex-container">
  <div>
    <p>Currently in: Peru</p>
    <p>Up next: Chile</p>
  </div>

  <div>
    <img src="{{ site.baseurl }}static/images/map.png" alt="map" class="location2">
  </div>

  <div>
    <p>Continents visited: 3</p>
    <p>Countries visited: 18</p>
    <p>USA States visited: 25</p>
  </div>
</div>
